{
  "root": true,
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "plugin:vue-libs/recommended",
    "plugin:flowtype/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.spec.js"
      ],
      "plugins": [
        "jasmine"
      ],
      "env": {
        "jasmine": true
      }
    }
  ]
}
