.bit-sponsor
  font-weight 600
  background-color #f3f6f8
  padding 0.6em 1.2em
  border-radius 8px
  display inline-block
  margin 1em 0 !important
  a
    color #999
  img
    height 40px
    margin-left 15px
  img, span
    vertical-align middle

.vueschool
  background-color #e7ecf3
  padding 1em 1.25em
  border-radius 2px
  color #486491
  position relative
  display flex
  a
    color #486491 !important
    position relative
    padding-left 36px
    &:before
      content ''
      position absolute
      display block
      width 30px
      height 30px
      top calc(50% - 15px);
      left -4px
      border-radius 50%
      background-color #73abfe
    &:after
      content ''
      position absolute
      display block
      width 0
      height 0
      top calc(50% - 5px)
      left 8px
      border-top 5px solid transparent
      border-bottom 5px solid transparent
      border-left 8px solid #fff
