.bit-sponsor
  font-weight 600
  background-color #f3f6f8
  padding 0.6em 1.2em
  border-radius 8px
  display inline-block
  margin 1em 0 !important
  a
    color #999
  img
    height 40px
    margin-left 15px
  img, span
    vertical-align middle

.reset-button {
  /* reset button style */
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
